<!--Title &#45;&#45;-->
<!--susyqcleaning (careers) - auto-msg to dalia-->

<!--Subject &#45;&#45;-->
<!--New Job Application Received - {{name}}-->

<div style="
    font-family: system-ui, sans-serif, Arial;
    font-size: 14px;
    color: #333;
    padding: 20px 14px;
    background-color: #f5f5f5;
  "
>
    <div style="max-width: 600px; margin: auto; background-color: #fff">
        <div style="text-align: center; background-color: #4FAFC2; padding: 4px">
            <p style="font-size: 22px; color: #fff">
                Susy Q Cleaning Careers
            </p>
        </div>
        <div style="padding: 14px">
            <h1 style="font-size: 22px; margin-bottom: 26px">You have received an application!</h1>
            <p>
                A new application has been submitted through susyqcleaning.com.
            </p>
            <p>**Applicant Details:**</p>
            <div><span style="font-weight: 600">Position:</span> {{title}}</div>
            <div><span style="font-weight: 600">Name:</span> {{name}}</div>
            <div><span style="font-weight: 600">Email:</span> {{email}}</div>
            <div><span style="font-weight: 600">Phone:</span> {{phone}}</div>

            <p style="padding-top: 18px">Best regards,<br />Susy Q</p>
        </div>
    </div>
</div>

<!--Title &#45;&#45;-->
<!--susyqcleaning (estimates) - auto-msg to dalia-->

<!--Subject &#45;&#45;-->
<!--New Estimate Request Received - {{name}}-->

<div style="
    font-family: system-ui, sans-serif, Arial;
    font-size: 14px;
    color: #333;
    padding: 20px 14px;
    background-color: #f5f5f5;
  "
>
    <div style="max-width: 600px; margin: auto; background-color: #fff">
        <div style="text-align: center; background-color: #4FAFC2; padding: 4px">
            <p style="font-size: 22px; color: #fff">
                Susy Q Cleaning
            </p>
        </div>
        <div style="padding: 14px">
            <h1 style="font-size: 22px; margin-bottom: 26px">You have received a new estimate!</h1>
            <p>
                A new estimate has been submitted through susyqcleaning.com.
            </p>
            <p>**Estimate Details:**</p>
            <div><span style="font-weight: 600">Name:</span> {{name}}</div>
            <div><span style="font-weight: 600">Email:</span> {{email}}</div>
            <div><span style="font-weight: 600">Phone:</span> {{phone}}</div>
            <div style="font-weight: 600">Service Requested:</div>
            <div>{{service}}</div>

            <p style="padding-top: 18px">Best regards,<br />Susy Q</p>
        </div>
    </div>
</div>

<!--Title &#45;&#45;-->
<!--susyqcleaning (contact us) - auto-msg to dalia-->

<!--Subject &#45;&#45;-->
<!--New Message Received - {{from_name}}-->

<div style="
    font-family: system-ui, sans-serif, Arial;
    font-size: 14px;
    color: #333;
    padding: 20px 14px;
    background-color: #f5f5f5;
  "
>
    <div style="max-width: 600px; margin: auto; background-color: #fff">
        <div style="text-align: center; background-color: #4FAFC2; padding: 4px">
            <p style="font-size: 22px; color: #fff">
                Susy Q Cleaning
            </p>
        </div>
        <div style="padding: 14px">
            <h1 style="font-size: 22px; margin-bottom: 26px">You have received an online message!</h1>
            <p>
                A new message has been submitted through susyqcleaning.com. {{res_message}}.
            </p>
            <p>**Message Details:**</p>
            <div><span style="font-weight: 600">Name:</span> {{from_name}}</div>
            <div><span style="font-weight: 600">Email:</span> {{from_email}}</div>
            <div><span style="font-weight: 600">Phone:</span> {{from_phone}}</div>
            <div><span style="font-weight: 600">Message:</span> {{message}}</div>

            <p style="padding-top: 18px">Best regards,<br />Susy Q</p>
        </div>
    </div>
</div>